<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/core-label/core-label.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="chks-element">
	<template>
		<style>
			paper-checkbox {
				color: royalblue;
				padding: 20px;
			}
		</style>

		<core-ajax
				auto
				url="http://localhost:8080/user"
				method="GET"
				handleAs="json"
				on-core-response="{{onResponse}}"
				contentType="application/json"
				></core-ajax>

		<div layout horizontal>
			<template repeat="{{item in items}}">
				<core-label center horizontal layout flex>
					<paper-checkbox for></paper-checkbox>
					<div flex>{{item}}</div>
				</core-label>
			</template>
		</div>
	</template>

	<script>
		Polymer({
			created: function() {
				this.items = [];
			},

			ready: function () {
				this.items = [
					'Hwang',
					'Lee',
					'Lim',
				];
			},

			onResponse: function(e, result, tag) {
				var res = result.response;

				var i;
				for ( i=0 ; i<res.length ; i++ ) {
					this.items.push(res[i].name);
				}
			}
		});
	</script>

</polymer-element>