<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="menu-element">
	<template>
		<div horizontal center-justified layout>
			<p>
				This is menu Element authors {{author}}
			</p>
		</div>
	</template>

	<script>
		Polymer({
			author: 'mysticPrg',
			created: function () {
				console.log('Menu Create')
			},
			ready: function () {
				console.log('Menu Ready');
			}
		});
	</script>
</polymer-element>