<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="my-header">
	<template>
		<style>
			p {
				display: flex;
			}
		</style>

		<div center layout horizontal>
			<paper-icon-button icon="menu"></paper-icon-button>
			<p layout center-justified flex>Hello :)</p>
			<paper-icon-button icon="search"></paper-icon-button>
		</div>
	</template>

	<script>
		Polymer({});
	</script>
</polymer-element>